<header class="p-3 col-12 bg-dark">
  <div class="container">
    <nav class="d-flex align-items-center justify-content-between">
      <ul class="nav w-100 col-12 col-lg-auto me-lg-auto mb-2 justify-content-around mb-md-0 text-white"">
        <% if user_signed_in? %>
          <li>
            <%= image_tag current_user.avatar, size: "50x50" %>
          </li>
          <li id="flash_session">
          </li>
          <li>
            <h3> <%= current_user.full_name %> </h3>
          </li>
        <% end %>
        <li>
          <%= form_tag(products_path, method: :get, data: { controller: 'search-product-name', action: 'change->search-product-name#handleInputChange' }) do %>
            <div class="form-group">
              <%= text_field_tag :search, params[:search], data: { 'search_product_name_target': 'search' }, class: "form-control", placeholder: "Search by product name" %>
            </div>
          <% end %>
        </li>
        <li>
          <% if user_signed_in? %>
            <%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "nav-link px-2 text-white" %>
          <% else %>
            <%= link_to "Log in", new_user_session_path, class: "nav-link px-2 text-white" %>
          <% end %>
        </li>
          <li>
            <span id="link_for_show_cart">
              <%= render 'shared/link_for_show_cart'%>
            </span>
            <span id="cart_items_count">
              <%= current_user&.cart&.cart_items&.any? ? current_user.cart.cart_items.count : 0 %>
            </span>
          </li>
        <% if current_user&.admin? %>
          <li>
            <%= link_to "Admin panel", admin_categories_path, class: "nav-link px-2 text-white" %>
          </li>
        <% end %>
        <% if current_user&.orders %>
          <li>
            <%= link_to "Order", orders_path, class: "nav-link px-2 text-white" %>
            <span>
              <%= current_user&.orders&.count %>
            </span>
          </li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>