<div class="p-3 col-2 vh-100 d-flex flex-column">
  <nav class="h-100 w-100 rounded-pill bg-dark">
    <ul class="h-100 d-flex flex-column align-items-center nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-around mb-md-0">
      <li>
        <%= link_to 'Home', root_path, class: "nav-link px-2 text-white"%>
      </li>
      <li>
        <%= link_to 'Bags', root_path, class: "nav-link px-2 text-white"%>
      </li>
      <li>
        <%= link_to 'Bananas', root_path, class: "nav-link px-2 text-white"%>
      </li>
      <li>
        <%= link_to 'Clips', root_path, class: "nav-link px-2 text-white"%>
      </li>
      <li>
        <%= link_to 'Purses', root_path, class: "nav-link px-2 text-white"%>
      </li>
      <li>
        <%= link_to 'Slings', root_path, class: "nav-link px-2 text-white"%>
      </li>
      <li>
        <%= link_to 'Wallet', root_path, class: "nav-link px-2 text-white"%>
      </li>
      <li>
        <%= link_to 'Feedback', root_path, class: "nav-link px-2 text-white"%>
      </li>
      <li>
        <%= link_to 'About us', root_path, class: "nav-link px-2 text-white"%>
      </li>
    </ul>
  </nav>
</div>     