<header class="p-3 col-12 bg-dark">
  <div class="container">
    <nav class="d-flex align-items-center justify-content-between">
      <ul class="nav w-100 col-12 col-lg-auto me-lg-auto mb-2 justify-content-around mb-md-0 text-white"">
        <% if user_signed_in? %>
          <li>
            <%= image_tag current_user.avatar, size: "50x50" %>
          </li>
          <li id="flash_session">
          </li>
          <li>
            <h3> <%= current_user.full_name %> </h3>
          </li>
        <% end %>
        <li>
          <h3> Search </h3>
        </li>
        <% if flash[:deleted].present? %>
         <h3 class="mb-md-5 text-danger"> <%= flash[:deleted] %> </h3>
        <% end %>
        <li>
          <% if user_signed_in? %>
            <%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "nav-link px-2 text-white" %>
          <% else %>
            <%= link_to "Log in", new_user_session_path, class: "nav-link px-2 text-white" %>
          <% end %>
        </li>
          <li>
            <%= link_to "Cart", current_user&.cart ? cart_path(current_user.cart) : new_user_session_path, class: "nav-link px-2 text-white"%>
          </li>
        <% if current_user&.admin? %>
          <li>
            <%= link_to "Admin panel", admin_categories_path, class: "nav-link px-2 text-white" %>
          </li>
      <% end %>
      </ul>
    </nav>
  </div>
</header>