<div>
  <h1>Order Details</h1>

  <div id="order_details">
    <%= render 'shared/order_details', order: order%>
  </div>
  <h2>Order Items</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Product</th>
        <th>Quantity</th>
        <th>Description</th>
        <th>Price</th>
        <th>Total</th>
        <th>Image</th>
      </tr>
    </thead>
    <tbody>
      <% order.order_items.order(:id).each do |order_item| %>
        <tr>
          <td><%= order_item.product.title %></td>
          <td><%= order_item.quantity %></td>
          <td><%= order_item.product.description %></td>
          <td><%= number_to_currency(order_item.price) %></td>
          <td><%= number_to_currency(order_item.total_price) %></td>
          <td><%= image_tag order_item.product.images.first, size: "50x50" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="text-center mb-5">
    <strong>Total: <%= number_to_currency(order.price_order_items) %></strong>
  </div>

  <div class="text-center mb-3">
    <% if current_user.admin? %>
      <%= link_to "Order Delete", admin_order_path(order), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-danger" %>
    <% end %>
  </div> 
  <div class="text-center mb-3">
    <%= form_tag liqpay_payment_for_email_path, method: :post do %>
      <%= hidden_field_tag :amount, order.price_order_items %>
      <%= hidden_field_tag :description, "Оплата заказа ##{order.id}" %>
      <%= hidden_field_tag :order_id, order.id %>
      <%= hidden_field_tag :currency, "UAH" %>
      <%= hidden_field_tag :action, "pay" %>
      <%= hidden_field_tag :version, "3" %>

      <%= submit_tag "Send invoice by email № #{order.id}", class: "btn btn-primary" %>
    <% end %>
  </div> 
  <div class="text-center mb-3">
    <%=liqpay_button @liqpay_request, title: "Pay for Order"%>
  </div> 
  <div id="errors_order_details" class="mb-3">
  </div>
  <%= render 'shared/form_update_order', order: order%>
</div>