<div>
  <h1>Order Details</h1>

  <div id="order_details">
    <%= render 'shared/order_details', order: @order%>
  </div>
  <h2>Order Items</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Product</th>
        <th>Quantity</th>
        <th>Description</th>
        <th>Price</th>
        <th>Total</th>
        <th>Image</th>
      </tr>
    </thead>
    <tbody>
      <% @order.order_items.order(:id).each do |order_item| %>
        <tr>
          <td><%= order_item.product.title %></td>
          <td><%= order_item.quantity %></td>
          <td><%= order_item.product.description %></td>
          <td><%= number_to_currency(order_item.product.price) %></td>
          <td><%= number_to_currency(order_item.total_price) %></td>
          <td><%= image_tag order_item.product.images.first, size: "50x50" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="text-center mb-5">
    <strong>Total: <%= number_to_currency(@order.price_order_items) %></strong>
  </div>

  <div class="text-center mb-3">
    <%= link_to "Order Delete", order_path(@order), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-danger" %>
    <%= link_to "Pay for the Order", "#", class: "btn btn-primary" %>
  </div> 
  <div id="errors_order_details" class="mb-3">
  </div>

  <div class="text-center">
    <% if current_user.admin? %>
      <%= form_with model: @order do |o| %>
        <div class="mb-3">
          <%= o.label :status, class: "form-label", style: "text-transform: capitalize" %>
          <%= o.select :status, Order.statuses.keys.map { |status| [status, status] }, {}, class: "form-select" %>
        </div>

        <div class="mb-3">
          <%= o.label :address, class: "form-label", style: "text-transform: capitalize" %>
          <%= o.text_field :address, class: "form-control", placeholder: "Address" %>
        </div>

        <div class="mb-3">
          <%= o.label :phone_number, class: "form-label", style: "text-transform: capitalize" %>
          <%= o.text_field :phone_number, class: "form-control", placeholder: "Phone Number" %>
        </div>

        <div class="field mb-3">
          <%= o.submit "Buy order", class: "btn btn-primary" %>   
        </div>
      <% end %>
    <% end %>
  </div>
</div>
