<div id="results">
  <ul class="row">
    <% @products.in_groups_of(3, false).each do |row| %>
      <% row.compact.each do |product| %>
        <% collapse_id = "collapse_#{product.id}" %>
        <li class="col-md-4 mb-3 custom-list-style">
          <div class="pt-3 me-1 d-flex flex-column justify-content-center align-items-center border rounded border-dark">
            <%= link_to product_path(product) do %>
              <%= image_tag product.images.first, size: "170x270" %>
            <% end %>
            <h4 class="mt-3">
              <%= product.title %>
            </h4>
            <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#<%= collapse_id %>" aria-expanded="false" aria-controls="<%= collapse_id %>">
              <p class="mb-3">
                <%= truncate(product.description, length: 10) %>
              </p>
            </button>
            <div class="collapse mb-3 p-2 mw-100" id="<%= collapse_id %>">
              <p class="mb-3 text-break">
                <%= product.description %>
              </p>
            </div>
            <h5>
              Price: <%= number_to_currency(product.price) %>
            </h5>
            <%= render 'shared/form_quantity', product: product%>
          </div>
        </li>
      <% end %>
    <% end %>
  </ul>
  <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
</div>
