<!DOCTYPE html>
<html>
  <head>
    <title>LeatherAccessories</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "turbo", type: "module" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
        <%= render 'shared/nav_top' %>
      </div>
      <div class="row">
        <%= render 'shared/nav_left' %>
        <div class="col-10">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
